/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label,
.mat-tab-link {
  color: rgb(50 107 156) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: rgb(50 107 156) !important;
}

.fa-pen-to-square {
  color: #326b9c;
}

.fa-trash {
  color: red;
}

.icons {
  padding: 5px;
  background: #edeff0;
  border-radius: 5px;
}

.icons-edit:hover {
  background: #326b9c;
  border-radius: 5px;
  cursor: pointer;
}

.icons-copy:hover {
  background: #326b9c;
  border-radius: 5px;
  cursor: pointer;
}
.icons:hover .fa-solid {
  color: white;
}
